<div class="contenedor">
    <form action="/editar-perfil" method="post" class="default-form" enctype="multipart/form-data">
        <div class="campo">
            <label>Nombre</label>
            <input value="{{usuario.nombre}}" type="text" name="nombre" placeholder="Tu nombre">
        </div>

        <div class="campo">
            <label>E-mail</label>
            <input value="{{usuario.email}}" type="email" name="email" placeholder="Tu E-mail">
        </div>

        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Tu Contraseña nueva">
        </div>

        <div class="campo">
            <label for="">Imagen </label>
            <input type="file" name="imagen" id="" placeholder="Tu imagen de perfil">
            <p style="color: aliceblue;">Maximo 100kb</p>
            <img src="uploads/perfiles/{{usuario.imagen}}" class="admin-perfil" alt="">
        </div>

        <div class="campo">
            <input type="submit" name="Confirmar" value="Guardar cambios" class="btn btn-azul">
        </div>
    </form>

    
</div>