<main class="contenedor">
    <form method="post" action="/iniciar-sesion" class="default-form">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu Email" required>
        </div>

        <div class="campo">
            <label>Contraseña</label>
            <input type="password" name="password" placeholder="Tu password" required>
        </div>

        <div class="campo acciones">
            <a href="/crear-cuenta">Crea una cuenta</a>
            <a href="/restablecer-password">Olvidé mi contraseña</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>