<main class="contenedor">
    <form method="post" class="default-form">
        <div class="campo">
            <label>Nueva Contraseña</label>
            <input type="password" name="password" placeholder="Tu Nueva contraseña" required>
        </div>
        <div class="campo">
            <input type="submit" value="Guardar nueva  Contraseña" class="btn btn-azul">
        </div>
    </form>
</main>